<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',
{ cssFiles: ['shop/categories.css', 'shop/product-card.css' , 'shop/featured-items.css', 'hero.css'
  ],
  scripts: ['featured-items.js', 'hero.js']}) %>
<body>
  <%- include('partials/navbar') %>

    <main id="main-content">

      <%- include('partials/hero', {
        products: featuredProducts.slice(0, 5)
      }) %>
      <!-- FEATURED PRODUCTS -->
      <%- include('shop/scrollable-products', {
        title: "New Arrivals",
        products: newArrivals,
        isFeatured: true}) %>
      <% categories.filter(function(cat) { return cat.products.length > 0}).forEach(function(cat) { %>
        <%- include('shop/scrollable-products', {
          title: cat.name ,
          products: cat.products,
          url: '/shop/category/' + (cat.slug || ''),
          isFeatured: false } ); %>
      <% }); %>

      <!-- CATEGORIES -->
      <%- include('shop/categories') %>

      <!-- TODO : About / Story -->

      <!-- TODO: Reviews / Social Proof -->


    </main>

    <!-- TODO: Newsletter? / Footer-->
    <%- include('partials/footer') %>
</body>

</html>