<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',
{ cssFiles: ['shop/categories.css', 'shop/product-card.css' , 'shop/featured-items.css', 'hero.css'
  ],
  scripts: ['featured-items.js', 'hero.js']}) %>
<body>
  <%- include('partials/navbar') %>

    <main id="main-content">

      <%- include('partials/hero', {
        products: featuredProducts.slice(0, 5)
      }) %>
      <!-- FEATURED PRODUCTS -->
      <%- include('shop/scrollable-products', {
        title: "New Arrivals",
        products: newArrivals,
        isFeatured: true}) %>

      <%- include('shop/scrollable-products', {
        title: 'Winter Deals' ,
        products: allProducts.slice(10, 20),
        url: '/shop',
        isFeatured: false } ) %>

      <!-- Testing empty category-->
      <%- include('shop/scrollable-products', {
        title: 'Summertime Exclusives' ,
        products: [],
        url: '/shop',
        isFeatured: false } ) %>

      <!-- CATEGORIES -->
      <%- include('shop/categories') %>

      <!-- TODO : About / Story -->

      <!-- TODO: Reviews / Social Proof -->


    </main>

    <!-- TODO: Newsletter? / Footer-->
    <%- include('partials/footer') %>
</body>

</html>